*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color:#fff;
}

html,body{
    height: 100%;
    width: 100%;
}
.cursor{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index:8;
    mix-blend-mode: difference;
    transition: left linear 0.1s top linear 0.1s;
}
.main{
    background-color: #0F0d0d;
}

.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
}

nav{
    height:55px;
    width: 100%;
    /* background-color: red !important; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

nav img{
    height:26px;
}

#nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
}

nav h4{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

nav h4:nth-child(1){
    border-bottom: 1.5px solid #fff;
}

.page1 h1{
    font-size: 8vw;
    font-weight: 300;
    font-family: PP mori;
    margin-top: 12vw;
    margin-left: 6vw;
}

.page1 h2{
    font-size: 8vw;
    font-weight: 300;
    font-family: PP mori;
    margin-left: 26vw;
}

.page1 video{
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #000000;
    position: relative;
    z-index: 9;
}

.page2 h1{
    font-size: 7vw;
    font-weight: 500;
    font-family: PP mori;
    color:#111;
}

.page2-container{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5vw; */
}

.page2-left{
    /* background-color: blue; */
    width: 38%;
}
.page2-right{
    /* background-color: blue; */
    width: 24%;
}

.page2-left h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 300;
    color: #111;
    line-height: 3vw;
}


.page2-right p{
    font-size: 28px;
    color: #111;
}

.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #EDBFFF;
    color: #111;
    margin-top: 20px;
}

.page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 100px;
    z-index: 9;
}

.page3 h1{
    font-size: 6.8vw;
    font-weight: 300;
    color:#111;
    margin-left: 100px;
}

.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.page3-part1 img{
    height: 400px;
    width: 50%;
    margin-top: 160px;
}

.page3-part1 video{
    width: 40%;
}

.page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
}

.page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
}